* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Karla";
}

body {
  background-color: #f5f7fb;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  position: relative;
  margin: 0;
}

.blob-tr,
.blob-bl {
  position: fixed;
}

.blob-tr {
  right: 0;
  top: 0;
}

.blob-bl {
  bottom: 0;
  left: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title,
.title-desc .question,
.option {
  color: #293264;
}

.title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.title-desc,
.start-quiz {
  font-family: "Inter";
}

.title-desc {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.start-quiz {
  font-size: 1rem;
  color: #fff;
  background-color: #4d5b9e;
  border: none;
  padding: 15px 50px;
  border-radius: 15px;
  cursor: pointer;
}

.start-quiz:hover {
  transform: scale(0.9);
}

.quiz-container {
  margin: 5rem auto 0;
  max-width: 800px;
}

.question-container {
  margin: 0 auto 1rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.8px solid #dbdef0;
}

.question {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.choices-container {
  display: flex;
  gap: 20px;
}

.option {
  padding: 4px 15px;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  cursor: pointer;
}

.selected {
  background-color: #d6dbf5;
  border: none;
}

.answers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.score-container {
  display: flex;
  align-items: center;
  gap: 25px;
  color: #293264;
}

.answers {
  display: block;
  /* margin: 0 auto; */
  font-size: 0.9rem;
  color: #fff;
  padding: 12px 24px;
  background-color: #4d5b9e;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.answers:hover {
  transform: scale(0.98);
}

input[type="radio"] {
  display: none;
}

.correct {
  background-color: #94d7a2 !important;
}

.wrong {
  background-color: #f8bcbc !important;
}
